/*p {
  padding-left: 5em;
  border: 1px solid grey;
}

.one {
  font-size: 0.5em;
  width: 50%;
}


.two {
  font-size: 1em;
  width: 50%;
}
.three {
  font-size: 2em;

  #paragraph-two{

  border: 2px solid red;
  with: 600px;
}*/
/*

p{
  border: 1px solid grey;
}
.one */




/*#paragraph-two {
  border: 2px solid rgb(255, 100, 0);
  width: 300px;
  height: 16em;
  background-color: lightgray;
  margin: 0 auto;
  padding-bottom: 4em;
  padding-left: 2em;
  box-sizing: border-box;


}
#paragraph-three {
  border: 2px solid green;
  width: 16em;
  height: 16em;
  background-color: lightblue;
  margin: 0 auto;
  padding-top: 6em;


}
#floater {
  width: 10em;
  background: #31D3FD;
  float: left;
  margin: 2em;
}*/


#paragraph-three {
border: 1px solid red;
margin: 0auto;
  width: 20em;
}
#paragraph-two
float
  font-size: 1em;
  width: 50%;
}

#paragraph-four {
border: 1px solid red;
margin: 0auto;
  width: 20em;
}

.three {
  font-size: 1em;
  width: 50%;
}
.clearfix{
  clear: both;
}
